@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2b2b2b;
}

#root {
  padding: 0;
}

body {
  background-color: #ebf1f2;
}

.App {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #d2d2d2;
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-logo {
  font-size: 28px;
  font-family: Ubuntu;
  color: #008cff;
  pointer-events: none;
}

.account {
  color: #7c8083;
}

.main-grid-container {
  display: grid;
  grid-template-columns: 300px 4fr;
}

.sider {
  background-color: #ffffff;
  min-height: calc(100vh - 57.6px);
  border-right: 1px solid #d2d2d2;
  padding: 20px 10px;
}

.share-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: Ubuntu;
  color: #4f4f4f;
  margin-top: 20px;
}

.share-btn {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  font-size: 14px;
  padding: 6px 0px;
  margin-right: 0;
  border-radius: 2px;
  color: #ffffff;
  padding: 4px 0px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 8px;
}
