.upload-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: Ubuntu;
  color: #4f4f4f;
}

input[type="file"] {
  display: none;
}

.file-upload {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.file-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-btn,
.upload-btn {
  border-radius: 2px;
  color: #ffffff;
  padding: 4px 0px;
  cursor: pointer;
  margin: 10px 5px;
  width: 50%;
  text-align: center;
}

.choose-btn:hover,
.upload-btn:hover {
  box-shadow: #d2d2d280 0 3px 8px;
}

.choose-btn:active,
.upload-btn:active {
  box-shadow: #d2d2d280 0 1px 4px;
  transform: translateY(1px);
}

.choose-btn {
  background-color: #008cff;
  border: 1px solid #007ce1;
  margin-left: 0;
}

.upload-btn {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  font-size: 14px;
  padding: 6px 0px;
  margin-right: 0;
}

.upload-btn:disabled,
.upload-btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.image-name {
  background-color: #ebf1f2;
  border: 1px solid #d2d2d2;
  font-size: 12px;
  margin-top: 5px;
  padding: 4px 8px;
  color: #7c8083;
}
